name: commitlint

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches: [develop, main]

permissions:
  contents: read
  pull-requests: read

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        # https://github.com/actions/checkout/releases/tag/v6.0.2
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0

      - name: Setup Node.js
        # https://github.com/actions/setup-node/releases/tag/v6.2.0
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: "lts/*"

      - name: Install commitlint
        run: |
          npm install --no-save \
            @commitlint/cli \
            @commitlint/config-conventional

      - name: Validate PR title
        run: |
          TITLE="${{ github.event.pull_request.title }}"
          echo "$TITLE" | npx commitlint --verbose

      - name: Validate PR commits
        run: |
          npx commitlint \
            --from ${{ github.event.pull_request.base.sha }} \
            --to   ${{ github.event.pull_request.head.sha }} \
            --verbose
